{% extends 'the_olympus/_base.html' %} {% block content %}

<section class="register">
  <header class="register__header">
    <h1 class="header__title">Welcome!</h1>
    <p class="header__subtitle">
      Please, fill out the following form to get started
    </p>
  </header>

  <form class="register-form" method="post">
    {% csrf_token %}

    <label class="register-form__label" for="{{ form.username.id_for_label }}"
      >Username:</label
    >
    {{ form.username }} {% if form.username.errors %}
    <span class="error">{{ form.username.errors }}</span>
    {% endif %}

    <label class="register-form__label" for="{{ form.email.id_for_label }}"
      >Email Address:</label
    >
    {{ form.email }} {% if form.email.errors %}
    <span class="error">{{ form.email.errors }}</span>
    {% endif %} {% if form.plan %}
    <label class="register-form__label" for="{{ form.plan.id_for_label }}"
      >Plan:</label
    >
    {{ form.plan }} {% if form.plan.errors %}
    <span class="error">{{ form.plan.errors }}</span>
    {% endif %} {% endif %} {% if form.bank_account %}
    <label
      class="register-form__label"
      for="{{ form.bank_account.id_for_label }}"
      >Bank Account:</label
    >
    {{ form.bank_account }} {% if form.bank_account.errors %}
    <span class="error">{{ form.bank_account.errors }}</span>
    {% endif %} {% endif %}

    <label class="register-form__label" for="{{ form.password1.id_for_label }}"
      >Password:</label
    >
    {{ form.password1 }} {% if form.password1.errors %}
    <span class="error">{{ form.password1.errors }}</span>
    {% endif %}

    <label class="register-form__label" for="{{ form.password2.id_for_label }}"
      >Confirm Password:</label
    >
    {{ form.password2 }} {% if form.password2.errors %}
    <span class="error">{{ form.password2.errors }}</span>
    {% endif %} {% if form.non_field_errors %}
    <div class="error">{{ form.non_field_errors }}</div>
    {% endif %}

    <button class="register-form__button button button--cta" type="submit">
      Register
    </button>
  </form>
</section>
{% endblock %}
