{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Olympus Gym</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="hero">
      <div class="hero__overlay">
        <div class="hero__logo-container">
          <img class="hero__logo" src="{% static 'images/logo.png' %}" alt="" />
        </div>
        <h1 class="hero__title">Unleash your Inner Titan</h1>
        <p class="hero__subtitle">
          Elevate your fitness journey with The Olympus. Experience world-class
          facilities and expert guidance.
        </p>
      </div>
      <a class="hero__button" href="#plans">Explore</a>
    </div>

    <section class="plans" id="plans">
      <h2 class="section__title">Membership Plans</h2>
      <div class="plans__plans-container">
        <div class="plans-container__plan-card">
          <h3 class="plan-card__title">Standard</h3>
          <p class="plan-card__price">
            <span class="price__number">$49</span> /month
          </p>
          <button class="plan-card__button">Get Started</button>
          <ul class="plan-card__features">
            <li class="plan-card__feature">
              <span><img src="{% static 'icons/check.svg' %}" /></span><span></span>Access to
              all gym facilities
          </span></li>
            <li class="plan-card__feature">
              <span><img src="{% static 'icons/check.svg' %}" /></span><span></span>Group
              fitness classes
          </span></li>
            <li class="plan-card__feature">
              <span><img src="{% static 'icons/check.svg' %}" /></span
              >Personalized workout plan
              </span></li>
          </ul>
        </div>
        <div class="plans-container__plan-card">
          <span class="plan-card__badge">Best Value</span>
          <h3 class="plan-card__title">Premium</h3>
          <p class="plan-card__price">
            <span class="price__number">$79</span> /month
          </p>
          <button class="plan-card__button">Get Started</button>
          <ul class="plan-card__features">
            <li class="plan-card__feature">
              <span><img src="{% static 'icons/check.svg' %}" /></span><span></span>All
              Standard features
          </span></li>
            <li class="plan-card__feature">
              <span><img src="{% static 'icons/check.svg' %}" /></span><span></span>
              Unlimited personal training sessions
          </span></li>
            <li class="plan-card__feature">
              <span><img src="{% static 'icons/check.svg' %}" /></span><span></span>Exclusive
              wellness resources
          </span></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="features">
      <h2 class="section__title">Why Choose The Olympus?</h2>
      <div class="features__features-container">
        <div class="features-container__feature">
          <div class="feature__icon-container">
            <img
              class="feature__icon"
              src="{% static 'icons/dumbbell.svg' %}"
              alt="Dumbbell Icon"
            />
          </div>
          <h3 class="feature__title">State-of-the-Art Equipment</h3>
          <p class="feature__description">
            Train with the latest machines and technology.
          </p>
        </div>
        <div class="features-container__feature">
          <div class="feature__icon-container">
            <img
              class="feature__icon"
              src="{% static 'icons/users.svg' %}"
              alt="Dumbbell Icon"
            />
          </div>
          <h3 class="feature__title">Expert Trainers</h3>
          <p class="feature__description">
            Certified professionals dedicated to your success.
          </p>
        </div>
        <div class="features-container__feature">
          <div class="feature__icon-container">
            <img
              class="feature__icon"
              src="{% static 'icons/clock.svg' %}"
              alt="Dumbbell Icon"
            />
          </div>
          <h3 class="feature__title">Open 24/7</h3>
          <p class="feature__description">Workout anytime, day or night.</p>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="footer__info">
        <h3 class="footer__title">The Olympus</h3>
        <p class="footer__address">
          17 Quantum Fish Street, 3rd Floor, Hazy District, Phantom City
        </p>
      </div>
      <div class="footer__logo-container">
        <img
          class="footer__logo"
          src="{% static 'images/logo.png' %}"
          alt="The Olympus Logo"
        />
      </div>
    </footer>
  </body>
</html>
