{% extends 'the_olympus/_base.html' %} {% load static %} {% block content %}
<section class="hero">
  <div class="hero__overlay">
    <div class="hero__logo-container">
      <img class="hero__logo" src="{% static 'images/logo.png' %}" alt="" />
    </div>
    <h1 class="hero__title">Unleash your Inner Titan</h1>
    <p class="hero__subtitle">
      Elevate your fitness journey with The Olympus. Experience world-class
      facilities and expert guidance.
    </p>
  </div>
  <a class="hero__button" href="#plans">Explore</a>
</section>

<section class="plans" id="plans">
  <h2 class="section__title">Membership Plans</h2>
  <div class="plans__plans-container">
    {% for plan in plans %}
    <div class="plans-container__plan-card">
      {% if plan.isPremium %}
      <span class="plan-card__badge">Best Value</span>
      {% endif %}

      <h3 class="plan-card__title">{{ plan.name }}</h3>
      <p class="plan-card__price">
        <span class="price__number">${{ plan.price }}</span> /month
      </p>
      <button class="plan-card__button">Get Started</button>
      <ul class="plan-card__features">
        {% for plan_feature in plan.plan_features %}
        <li class="plan-card__feature">
          <span><img src="{% static 'icons/check.svg' %}" /></span>
          <span>{{ plan_feature }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>

<section class="features">
  <h2 class="section__title">Why Choose The Olympus?</h2>
  <div class="features__features-container">
    {% for feature in features %}
    <div class="features-container__feature">
      <div class="feature__icon-container">
        <img
          class="feature__icon"
          src="{% static 'icons/{{ feature.icon }}' %}"
        />
      </div>
      <h3 class="feature__title">{{ feature.title }}</h3>
      <p class="feature__description">{{ feature.description }}</p>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
