html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: Lexend, sans-serif;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(36, 26, 15);
  color: #fff;
}

.section__title {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  text-align: left;
}

.hero {
  background-image: linear-gradient(
      to top,
      rgb(36, 26, 15) 0%,
      rgba(36, 26, 15, 0.6) 100%
    ),
    url("/static/images/hero_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__overlay {
  padding: 0 2.5rem;
  margin-bottom: 5rem;
  text-align: center;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__logo-container {
  width: 10rem;
  height: 10rem;
}

.hero__logo,
.footer__logo {
  width: 100%;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.3));
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.hero__subtitle {
  line-height: 1.5;
}

.hero__button {
  background-color: #ffa500;
  color: #332617;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.plans,
.features {
  padding: 4rem 2rem;
  text-align: center;
}

.plans__plans-container,
.features__features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.plans-container__plan-card,
.features-container__feature {
  text-align: left;
  background-color: #332617;
  border: 2px solid #694d30;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 24rem;
  position: relative;
  transition: all 100ms ease-in;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.plans-container__plan-card:hover,
.features-container__feature:hover {
  transform: translateY(-12px);
  box-shadow: 0 16px 8px rgba(0, 0, 0, 0.5);
}

.plan-card__title {
  font-size: 1.2em;
  font-weight: bold;
}

.plan-card__price {
  margin: 1rem 0;
  font-weight: 900;
}

.price__number {
  font-size: 2.3rem;
}

.plan-card__features {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.plan-card__feature {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.plan-card__button {
  background-color: #694d30;
  color: white;
  width: 100%;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.plan-card__badge {
  position: absolute;
  top: 24px;
  right: 16px;
  background-color: #ffa500;
  color: #332617;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}

.features-container__feature {
  line-height: 1.5;
  max-width: 20rem;
}

.feature__icon-container {
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.feature__icon {
  width: 100%;
}

.feature__title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.feature__description {
  color: #a8a8a8;
}

.footer {
  background-image: linear-gradient(to top, black 0%, #241a0f 70%);
  padding: 1.2rem;
  font-size: 0.9em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__info {
  max-width: 50%;
}

.footer__title {
  margin-bottom: 1rem;
}

.footer__address {
  color: #a8a8a8;
  line-height: 1.5;
}

.footer__logo-container {
  width: 8rem;
  height: 8rem;
  max-width: 50%;
}

@media (min-width: 40rem) {
  .hero__logo-container {
    width: 14rem;
    height: 14rem;
  }

  .hero__overlay {
    max-width: 60rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__subtitle,
  .hero__button {
    font-size: 1.2rem;
  }
}
