{% extends 'the_olympus/_base.html' %} {% block content %}

<section class="register">
  <header class="register__header">
    <h1 class="header__title">Welcome!</h1>
    <p class="header__subtitle">
      Please, fill out the following form to get started
    </p>
  </header>

  <form class="register-form">
    <label class="register-form__label" for="nombre">Full Name:</label>
    <input
      class="register-form__input"
      type="text"
      id="nombre"
      name="nombre"
      required
    />

    <label class="register-form__label" for="email">Email Address:</label>
    <input
      class="register-form__input"
      type="email"
      id="email"
      name="email"
      required
    />

    <label class="register-form__label" for="plan">Plan:</label>
    <select
      class="register-form__input"
      type="password"
      id="plan"
      name="plan"
      required
    >
      <option value="">--Select a plan--</option>
      <option value="basico">Basic Plan</option>
      <option value="premium">Premium Plan</option>
    </select>

    <label class="register-form__label" for="password">Password:</label>
    <input
      class="register-form__input"
      type="password"
      id="password"
      name="password"
      required
    />

    <label class="register-form__label" for="confirm_password"
      >Confirm Password:</label
    >
    <input
      class="register-form__input"
      type="password"
      id="confirm_password"
      name="confirm_password"
      required
    />

    <button
      class="register-form__button button button--cta"
      type="submit"
      href="{% url 'landing' %}"
    >
      Register
    </button>
  </form>
</section>
{% endblock %}
