body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(36, 26, 15);
  color: #fff;
}

.section__title {
  font-size: 2em;
  margin-bottom: 40px;
}

.hero {
  background-image: linear-gradient(to top, rgb(36, 26, 15) 0%, rgba(36, 26, 15, 0.6) 100%),url('hero_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.hero__overlay {
  padding: 40px;
  text-align: center;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__logo-container{
width: 10rem;
height: 10rem;
}

.hero__logo{
width: 100%;
filter : drop-shadow(0 0 8px rgba(0,0,0,0.5));
}

.hero__title {
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: 1.2em;
}

.hero__button {
  background-color: #ffa500;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.plans {
  padding: 60px 20px;
  text-align: center;
}

.plans__plans-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.plans-container__plan-card {
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  position: relative;
}

.plan-card__title {
  font-size: 1.5em;
  color: #ffa500;
}

.plan-card__price {
  font-size: 1.3em;
  margin: 10px 0;
}

.plan-card__features {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.plan-card__feature {
  margin: 10px 0;
}

.plan-card__button {
  background-color: #ffa500;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.plan-card__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #ffa500;
  color: #000;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
}

.features {
  padding: 60px 20px;
  background-color:  rgb(36, 26, 15);
  text-align: center;
}

.features__features-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: auto;
  font-size: 1.1em;
}

footer {
  background-color:  rgb(36, 26, 15);
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
}

